.team_content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 500px;
}
.team_avatar-xl {
  height: 200px;
  width: 200px;
}
ul {
  margin: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
p {
  color: grey;
}
